pipeline/switch_Dynamic.json
{
	"name": "switch_Dynamic",
	"properties": {
		"activities": [
			{
				"name": "COUNTRY_LIST",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT COUNTRY FROM ADDRESS_COMMON\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Switchinputsql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "COUNTRY_LIST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('COUNTRY_LIST').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().COUNTRY",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "INDIA",
										"activities": [
											{
												"name": "COPYINDIA",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": "SELECT NAME,ADDRESS,CITY,COUNTRY FROM ADDRESS_COMMON\nWHERE COUNTRY = 'INDIA'",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Switchinputsql",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "switchsqloutput",
														"type": "DatasetReference",
														"parameters": {
															"DBname": {
																"value": "@concat('ADDRESS_',variables('VARDBNAME'))",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "USA",
										"activities": [
											{
												"name": "COPYUSA",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": "SELECT * FROM ADDRESS_COMMON\nWHERE COUNTRY = 'USA'",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Switchinputsql",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "switchsqloutput",
														"type": "DatasetReference",
														"parameters": {
															"DBname": {
																"value": "@concat('ADDRESS_',variables('VARDBNAME'))",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								]
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "VARDBNAME",
								"value": {
									"value": "@item().COUNTRY",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"VARDBNAME": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-08-21T07:02:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}