pipeline/UNTIL_blobexistscheck5times.json
{
	"name": "UNTIL_blobexistscheck5times",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\nbool(variables('fileExists')),\ngreaterOrEquals(int(variables('iterationcount')),5)\n )",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "check file exists",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "until_cus1",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "check file exists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('check file exists').output.exists",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "FALSEVARIABLE",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "fileExists",
											"value": "FALSE"
										}
									},
									{
										"name": "Wait",
										"type": "Wait",
										"dependsOn": [
											{
												"activity": "FALSEVARIABLE",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 15
										}
									},
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "iterationcount_temp",
											"value": {
												"value": "@string(add(\nint(variables('iterationcount'))\n,1))",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable2",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "iterationcount",
											"value": {
												"value": "@variables('iterationcount_temp')",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "TRUEVARIABLE",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "fileExists",
											"value": "TRUE"
										}
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "sendmessage",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"variables": {
			"fileExists": {
				"type": "String"
			},
			"iterationcount": {
				"type": "String",
				"defaultValue": "0"
			},
			"iterationcount_temp": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-08-20T05:41:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}